.footer {
    width: 100%;
    height: 430px;
    background-color: #252525;
    color: #fff;

    .footer-container {
        box-sizing: border-box;
        display: flex;
        justify-content: space-evenly;
        gap: 50px;
        padding-top: 150px;
    }

    .logo-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        img {
            width: 61px;
            height: 61px;
        }
        .logo-text {
            margin-top: 20px;
            p {
                color: white;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                opacity: 70%;
                margin: 10px 0;

                &:hover {
                    color: white;
                    opacity: 1;
                }
            }
        }
    }

    .links {
        display: flex;
        justify-content: space-between;
        gap: 200px;
        .column {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            h4 {
                font-weight: 700;
                line-height: 20px;
                font-size: 18px;
                margin-bottom: 15px;
            }

            a {
                font-family: Roboto;
                color: white;
                opacity: 70%;
                text-decoration: none;
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                margin-bottom: 10px;
                transition: color 0.3s;

                &:hover {
                    color: white;
                    opacity: 1;
                }
            }

            .social-icons {
                i {
                    width: 25px;
                    height: 25px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    font-size: 14px;
                    height: 21px;
                    cursor: pointer;
                    color: white;

                    &:hover {
                        transform: scale(1.4);
                    }
                }

                i:nth-child(1) {
                    background-color: #501a96;
                }
                i:nth-child(2) {
                    background-color: #4a7aff;
                }
                i:nth-child(3) {
                    background-color: #55acee;
                }
                i:nth-child(4) {
                    background-color: #d22215;
                }
            }
        }
    }

    .social-icons {
        display: flex;
        gap: 10px;
        margin-top: 15px;
    }
}

@media (max-width: 1024px) {
    .footer {
        .footer-container {
            .links {
                gap: 80px;
            }
        }
    }
}

@media (max-width: 768px) {
    .footer {
        height: auto;

        .links {
            flex-wrap: wrap;
            justify-content: center;
        }

        .footer-container {
            flex-wrap: wrap;

            .logo-section {
                margin: auto;
                text-align: center;
                img {
                    margin: auto;
                }
            }
        }
    }
}
