.home {
    display: flex;
    gap: 35px;

    .home-left {
        margin-top: 130px;

        p {
            margin-top: 30px;
        }

        .home-buttons {
            max-width: 370px;
            width: 100%;
            flex-wrap: wrap;
            margin-top: 30px;

            button {
                width: 158px;
                height: 60px;
            }
            .btn1 {
                &:hover {
                    background-color: transparent;
                    color: var(--button-color);
                    border: 1px solid var(--button-color);
                }
            }

            .btn2 {
                margin-left: 25px;
                background-color: transparent;
                color: black;
                border: 1px solid var(--button-color);
                color: var(--button-color);

                &:hover {
                    background-color: var(--button-color);
                    color: white;
                }
            }

            @media (max-width: 480px) {
                .home-buttons {
                    flex-direction: column;
                    flex-wrap: wrap;
                    justify-content: center;
                }
            }
        }
    }

    @media (max-width: 810px) {
        .home-left {
            flex-direction: column;
            align-items: center;
            margin-top: 50px;

            p {
                margin: auto;
                margin-top: 15px;
            }
        }
    }

    .home-right {
        .home-img {
            width: 576px;
            height: 608px;
        }

        @media (max-width: 1180px) {
            .home-img {
                margin-top: 80px;
                width: 406px;
                height: 430px;
                object-fit: cover;
            }
        }
        @media (max-width: 480px) {
            .home-img {
                margin-top: 80px;
                width: 350px;
                height: 420px;
                object-fit: cover;
            }

            .home-buttons {
                flex-direction: column;
            }
        }
    }
}
