button {
    font-weight: 500;
    line-height: 18.75px;
    font-size: 16px;
    font-family: Roboto;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: var(--button-color);
    cursor: pointer;
}

.button-link button {
    transition: 0.5s linear;
    margin-left: 500px;
    width: 155px;
    height: 46px;
    cursor: pointer;
    &:hover {
        background-color: #dc770bc9;
    }

    @media (max-width: 1249px) {
        & {
            margin-left: 370px;
        }
    }
    @media (max-width: 1119px) {
        & {
            margin-left: 350px;
        }
    }
    @media (max-width: 1099px) {
        & {
            margin-left: 280px;
        }
    }
    @media (max-width: 1024px) {
        margin-left: 0;
    }
}

.more-btn {
    width: 142px;
    height: 42px;
    color: var(--button-color);
    background-color: transparent;
    border: 1px solid var(--button-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 55px;

    &:hover {
        background-color: var(--button-color);
        color: white;
    }
}

.take-buttons {
    display: flex;
    gap: 30px;

    .take-btn1 {
        gap: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 163px;
        height: 48px;
        background-color: var(--text-color);
        color: white;

        &:hover {
            background-color: transparent;
            color: var(--text-color);
            border: 1px solid rgb(216, 212, 212);
        }
    }
    .take-btn2 {
        gap: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 179px;
        height: 48px;
        background-color: #fbf1e7;
        border: 1px solid rgb(216, 212, 212);
        color: var(--text-color);

        &:hover {
            background-color: var(--text-color);
            color: white;
        }
    }
}
